@model Message

<div class="jumbotron bg-white"  style="margin-bottom: 200px">
	<div class="row">
		<h1 style="color: #006A7A; font-family: Bahnschrift; text-indent: 20px">@Model.Title</h1>
	</div>
	<div class="row">
		<h5 style="text-indent: 20px" class="normal-heading">Изпратено от @Model.UserEmail</h5>
	</div>
	<div class="row">
		<p style="color: #006A7A; font-family: Bahnschrift; font-size: 18pt; text-indent: 20px">@Model.Content</p>
	</div>
</div>
