<div>
	<div class="container" style="background-image: url('images/classroom.png'); height: 550px; background-position: center; background-repeat: no-repeat; background-size: cover; margin-bottom: 40px; ">
		<div style="color: #ffffff; background-color: transparent; padding-top: 370px; padding-bottom: 180px; text-align: center; ">
			<h1 style="font-family: Bahnschrift;">Един проект на РУО Стара Загора</h1>
		</div>
	</div>
	<div class="jumbotron-fluid">
		<h4 style="font-family: Bahnschrift; margin-bottom: 30px; color: #707070; text-indent: 20px;">Създадено от ученици</h4>
		<p style="font-family: Bahnschrift; font-size: 18px; text-indent: 20px; line-height: 25px; margin-bottom: 100px; color: #707070 ">
			SharBP (Share best practices) е проект разработен в колаборация между РУО Стара Загора и ППМГ "Никола Обрешков". SharBP е разработен от
			Ангел Момов, Валерия Стаменова и Виктория Тотева. Концепцията за дизайна е изработена от Анна Кукова, а логото от Анастасия Георгиева.
	</div>
</div>