@{
	ViewData["Title"] = "Welcome";
}

<div class="container bg-white">
	<div class="jumbotron bg-white">
		<div class="row">
			<div class="col">
				<div class="container" style="margin-top: 100px;">
					<h3><span class="dark-heading small-padding">Защото си струва да споделяме</span></h3>
					<h1 id="goodPractices" class="normal-heading">добрите практики</h1>
					<h3><span class="dark-heading small-padding">в образованието</span></h3>
				</div>
			</div>
			<div class="col" id="bannerCol">
				<div class="container-sm">
					<img id="banner" style="width: 465px;" src="~/images/banner.png" class="img-fluid" />
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 30px;">
			@(await Html.RenderComponentAsync<CardList>(RenderMode.ServerPrerendered))
		</div>
	</div>
</div>