
<body class="custom"  style="margin-bottom: 200px">
    <div class="row py-5 px-4">
        <div class="col-md-10 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 py-5">
                    <div class="container-fluid p-5 text-center">
                        <div class="row">
                            <h4 class="font-weight-heading">ДЕКЛАРАЦИЯ ЗА ПОВЕРИТЕЛНОСТ НА ПЛАТФОРМА ЗА СПОДЕЛЯНЕ НА ДОБРИ ПРАКТИКИ „SHARBP“ </h4>
                        </div>                   
                    </div>                   
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h5 class ="terms-secondary-heading">
                            Данни за Платформа за споделяне на добри практики „Shar BP“ като администратор на лични данни:
                        </h5>              
                        <h5 class ="terms-secondary-heading">
                            Данни за контакт с длъжностното лице по защита на данните:
                        </h5>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class ="terms-secondary-heading"> Обща информация </h4>
                        <p class="terms-normal-text">
                            Настоящата Декларация за поверителност се отнася до личните данни, които Платформа за споделяне на добри практики „SharBP“
                            (наричано по-нататък само "Платформата") събира за вас, с цел да ви предостави услуги ("Услуги") съгласно предмета си на
                            дейност.
                        </p>
                        <p class="terms-normal-text">
                            При събирането и обработването на вашите лични данни, Платформата се подчинява на редица закони и нормативни правила, които
                            разпореждат как да бъдат извършвани тези действия, за какви цели и какви гаранции за защита на личните данни да бъдат
                            приложени. Относимата нормативна уредба включва, но не се ограничава до Общия регламент за защита на личните данни
                            (Регламент (ЕС) 2016/679), Закона за защита на личните данни, както и свързаните с тях актове
                        </p>
                        <p class="terms-normal-text">
                            Чрез тази Декларация ви информираме за политиките и практиките, които прилагаме при обработването на личните ви данни,
                            както и за правата, които имате във връзка със събраните от нас лични данни за вас.
                        </p>
                        <p class="terms-normal-text">
                            Тези политики и практики се отнасят както за данни, събирани от вас чрез Платформата, така и чрез форми на хартия,
                            попълнени лично от вас или от наш представител, чрез имейл кореспонденция, при сключване на договор или чрез други
                            позволени от закона методи за събиране на лични данни.
                        </p>
                        <p class="terms-normal-text">
                            Ако имате въпроси, можете да се свържете с нас, като изпратите имейл до Длъжностното ни лице по защита на личните
                            данни на горепосочения имейл.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Принципи при обработването на вашите лични данни
                        </h4>
                        <p class="terms-normal-text">
                            Стремим се да обработваме вашите лични данни законосъобразно, добросъвестно и прозрачно; за целта, за която сме ги
                            събрали; в минимално необходимото количество и при поддържане на тяхната точност и актуалност; за определени срокове
                            в зависимост от целта на конкретната дейност по обработване; и като прилагаме подходящи технически и организационни
                            мерки за сигурността им, съобразени с нивото на риск за вашите права и свободи.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Защо събираме личните данни и за какво ги използваме
                        </h4>
                        <p class="terms-normal-text">
                            Платформата обработва вашите лични данни за целите, описани по-долу:
                        </p>
                        <p class="terms-normal-text">
                            - за регистрация и управление на профила ви, включително, за да ползвате услуги, изискващи регистрация в нашия сайтове;
                        </p>
                        <p class="terms-normal-text">
                            - за регистрацията и допускането ви до събитията, които Платформата организира или им е съорганизатор;
                        </p>
                        <p class="terms-normal-text">
                            - за измерване и проследяване на потребителското поведение в сайтовете на Платформата с цел подобряване на нашите продукти и вашето потребителско преживяване;
                        </p>
                        <p class="terms-normal-text">
                            - за да ви показваме релевантно за вас съдържание;
                        </p>
                        <p class="terms-normal-text">
                            - за да ви изпращаме имейл бюлетини, за които вие изрично сте се абонирали;
                        </p>
                        <p class="terms-normal-text">
                            - за да ви изпращаме съобщения за наши продукти и услуги, ако изрично сте дали съгласието си за това;
                        </p>
                        <p class="terms-normal-text">
                            - за да ви изпращаме съобщения за продукти и услуги на наши Партньори, когато изрично сте дали съгласието си за това;
                        </p>
                        <p class="terms-normal-text">
                            - за да защитим имуществото в офисите си чрез извършваното в тях видеонаблюдение;
                        </p>
                        <p class="terms-normal-text">
                            - с цел спазване на нормативните изисквания за счетоводна отчетност;
                        </p>
                        <p class="terms-normal-text">
                            - за сключване и изпълнение на договори с Вас или с представляваното от Вас лице/юридическо лице
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Какви лични данни събираме от вас
                        </h4>
                        <p class="terms-normal-text">
                            В по-голямата част от случаите събираме данни от вас, които са изрично посочени в закона или такива, които са необходими за сключването и изпълнението на определен договор между нас, както и за да ви предоставим нашите Услуги.
                        </p>
                        <p class="terms-normal-text">
                            Ще ви информираме по ясен и прозрачен начин в случай, че се налага да събираме от вас лични данни, които не са изрично посочени в закона като задължителни, но Платформата намери за необходимо и/или има легитимен интерес от тяхното събиране.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Данни за целите на ползването на услуги и регистрация в Платформата
                        </h4>
                        <p class="terms-normal-text">
                            Във формите, чрез които въвеждате лични данни, ясно обозначаваме кои данни са задължителни за предоставяне. Това са такива данни, без които е невъзможно да ви предоставим съответната Услуга или част от нея.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Регистрация/Създаване на профил.
                        </h4>
                        <p class="terms-normal-text">
                            Част от Услугите, предоставяни по силата на Общите условия, които представляват договор между нас, са достъпни след регистрация. За да се регистрирате и създадете профил, е необходимо да въведете: потребителско име, име, имейл адрес и парола. В допълнение се съхранява информация за извършването на регистрацията и съгласяването с Общите условия за ползване (дата, час и IP адрес).
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Данни, съхранявани във вашия профил. 
                        </h4>
                        <p class="terms-normal-text">
                            За целите на някои от предоставяните Услуги имате възможност да създавате и/или съхранявате във вашия профил информация като снимка, кратка биография, информация за ваши профили в социални мрежи, информация за вашите пол, възраст, образование, професионален статус и доход. Вие преценявате самостоятелно дали и какви данни, отнасящи се до вас, да съхранявате във вашия профил.
                        </p>                   
                        <h5 class="terms-secondary-heading"><i>Снимка</i></h5>
                        <p class="terms-normal-text">
                            Включването на снимка в профила ви е изцяло по ваш избор. Тя е част от публичния ви профил в мрежата от регистрирани потребители на Платформата и се вижда от останалите регистрирани потребители.
                        </p>
                        <h5 class="terms-secondary-heading"><i>Потребителско име</i></h5>
                        <p class="terms-normal-text">
                            Потребителското име е уникален низ от букви и цифри. То се използва за целите на функционирането на Платформата и не може да се променя.
                        </p>
                        <h5 class="terms-secondary-heading"><i>Вашите имена</i></h5>
                        <p class="terms-normal-text">
                            При регистрацията си трябва да попълните имената си. Останалите потребители в мрежата ще могат по-лесно да ви разпознават и да се свързват с вас.
                        </p>       
                        <h5 class="terms-secondary-heading">
                            Други данни
                        </h5>
                        <p class="terms-normal-text">
                            Когато извършвате следното действие на сайтовете ни, нашият уеб сървър автоматично записва вашия IP адрес, дата и час (timestamp):
                        </p>
                        <p class="terms-normal-text">
                            - изпращане на новина за публикуване
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Логове (Log files), свързани със сигурност, техническа поддръжка, развитие и др.
                        </h4>
                        <p class="terms-normal-text">
                            Логовете са файлове, които записват събития във и взаимодействия между системите и/или между потребители и дадена система.
                        </p>
                        <p class="terms-normal-text">
                            В сайтовете ни се използват логове със следните цели:
                        </p>
                        <p class="terms-normal-text">
                            -за подсигуряване на надеждното функциониране на Услугите и установяване на технически проблеми;
                        </p>
                        <p class="terms-normal-text">
                            - за подсигуряване сигурността на Услугите и откриване на злонамерени действия;
                        </p>
                        <p class="terms-normal-text">
                            - за развитие и подобряване на Услугите в Сайта;
                        </p>
                        <p class="terms-normal-text">
                            - за измерване на посещаемостта и ползваемостта на Сайт
                        </p>
                        <h5 class="terms-secondary-heading"><i>Лог за влизане в акаунт</i></h5>
                        <p class="terms-normal-text">
                            Този лог дава възможност да бъдат установени и автоматично блокирани нерегламентирани опити за достъп до акаунти.
                            Той съдържа дата и час на влизането в акаунта и информация дали влизането е през мобилна версия или десктоп браузър, IP адр
                        </p>
                        <h5 class="terms-secondary-heading"><i>Сървърни логове, логове на устройства за защита на сигурността (Web Application Firewalls) и др. устройства, попадащи в тази категория</i></h5>
                        <p class="terms-normal-text">
                            Тези логове са необходими за установяване на технически проблеми, откриване на злонамерени действия и др. от посочените по-горе цели.
                            Логовете могат да съдържат следната информация: дата и час, IP адрес, URL, информация за браузър и устройство.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Oбработване на лични данни на лица под 14 години
                        </h4>
                        <p class="terms-normal-text">
                            За нас е важно да предприемем допълнителни предпазни мерки за защита и безопасност на децата. По тази причина деца под 14 години нямат
                            право да си създават профили в сайтовете на Платформата без изричното съгласие на свой родител/настойник. Платформата ще изтрие всеки
                            профил, който е създаден от дете на възраст под 14 години без разрешение на родител/настойник, в най-кратък срок, след като сме информирани за това.
                        </p>
                        <p class="terms-normal-text">
                            Ако сте под 14 години, моля, не изпращайте и не публикувайте никаква информация за себе си, включително, но не само име, адрес, телефонен номер,
                            имейл адрес и други.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Бисквитки и други пасивни технологии
                        </h4>
                        <p class="terms-normal-text">
                            Платформата използва "бисквитки" и други технологии за проследяване, които събират информация от вас при взаимодействие с нашите сайтове,
                            за да подобрим тяхното представяне и вашето преживяване.
                        </p>
                        <h5 class="terms-secondary-heading"><i>Какво са бисквитки?</i></h5>
                        <p class="terms-normal-text">
                            Бисквитките са малки текстови файлове, които уебсайтът може да запише на вашия компютър или мобилно устройство, когато посещавате страница
                            или сайт. Бисквитката ще помогне на сайта или на други сайтове да разпознаят вашето устройство следващия път, когато го посетите. Web beacons
                            или други подобни файлове могат да правят същото. Използваме термина бисквитки в тази политика, за да назоваваме всички файлове, които събират
                            информация по този начин.
                        </p>
                        <p class="terms-normal-text">
                            Бисквитките изпълняват множество различни функции. Например, те ни помагат да запомним вашето потребителско име или предпочитания,
                            да анализираме колко добре се представя нашия сайт, да ви показваме реклами, които вярваме, че са релевантни на вашите интереси
                            или дори ни позволяват да ви препоръчаме съдържание, което смятаме, че ще бъде интересно за вас.
                        </p>
                        <p class="terms-normal-text">
                            Повече за бисквитките, както и начини да откажете използването на бисквитки на вашето устройство можете да откриете в нашата <a href="https://www.economedia.bg/show.php?guid=2582383">Политика за бисквитките</a>.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Данни, събирани от други източници
                        </h4>
                        <p class="terms-normal-text">
                            Възможно е да събираме информация за вас от други законни източници с цел да ви предоставим качествено нашите услуги.
                            Такива източници са информация от наши партньори (в случай, че вие сте се съгласили), публично достъпна информация.
                        </p>
                        <p class="terms-normal-text">
                            Тази информация включва:
                        </p>
                        <p class="terms-normal-text">
                            - данни за осъществяване на контакт с вас;
                        </p>
                        <p class="terms-normal-text">
                            - публично достъпна информация с данни за лицата, представляващи вашата организация.
                        </p>
                        <p class="terms-normal-text">
                            Друга публично достъпна информация събираме само, след като имаме изричната декларация на лицето, което ги споделя с нас,
                            че вие сте се съгласили да бъдат споделяни с нас.
                        </p>
                        <p class="terms-normal-text">
                            Когато осъществим контакт с вас, ще ви кажем откъде имаме вашите лични данни, в случай че не сме ги събрали ние лично от вас.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Легитимен интерес
                        </h4>
                        <p class="terms-normal-text">
                            В случаите, в които се наложи събиране на ваши лични данни от нас поради наш легитимен интерес, ще ви информираме своевременно,
                            както и ще ви разясним правата, които имате във връзка с това.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Съгласие
                        </h4>
                        <p class="terms-normal-text">
                            Извън случаите, в които събираме личните данни въз основа на закон, договор, легитимен интерес или за да защитим вашите жизненоважни
                            интереси, ще поискаме вашето съгласие. Ще използваме личните ви данни само за конкретната цел, за която сте ни дали съгласието.
                        </p>
                        <p class="terms-normal-text">
                            Имате право, ако на по-късен етап размислите, да оттеглите съгласието си.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Споделяне на ваши данни с трети лица
                        </h4>
                        <p class="terms-normal-text">
                            Платформата споделя вашите лични данни само в следните случаи:
                        </p>
                        <p class="terms-normal-text">
                            - пред държавни органи, институции и лица, на които сме длъжни да предоставяме лични данни по силата на закон;
                        </p>
                        <p class="terms-normal-text">
                            - на наши партньори, с които Платформата работи въз основа на договор и ни помагат да обезпечим осъществяването на дейността
                            си или да ви предоставим услугите си и с които имаме споразумения за запазване на конфиденциалността на информацията и защита
                            на личните данни.
                        </p>
                        <p class="terms-normal-text">
                            Платформата взима мерки всички тези лица да прилагат същата защита към вашите лични данни, както нашите собствени служители и да се
                            съобразяват с Политиката на Платформата за защита на личните данни. За нас е важно да ползваме услугите само на такива лица, които
                            се отнасят отговорно към защитата на личните данни и прилагат подходящи технически и организационни мерки.
                        </p>
                        <p class="terms-normal-text">
                            Използваме доставчици на услуги при обработването на лични данни за някои цели, като например измерване и проследяване на потребителското
                            поведение в сайтовете, изпращане на имейл съобщения, споделяне на съдържание от потребителите, и др. Тези компании са (без изброяването
                            да е изчерпателно):
                        </p>
                        <div>
                            <p class="terms-normal-text">
                                - <a href="https://privacy.google.com ">Google</a> (с Google Analytics, Google Tag Manager, DoubleClick for Publishers, AdX, AdSense, AdWords, Google Plus)
                            </p>
                            <p class="terms-normal-text">
                                - <a href="https://www.facebook.com/privacy/">Facebook</a> (с Facebook Tracking Pixel, Facebook Tools - Plug-in "like" button, Sign in with Facebook profile и др.)
                            <p class="terms-normal-text">
                                - <a href="https://www.linkedin.com/legal/privacy-policy">LinkedIn</a>
                            </p>
                        </div>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Мерки за защита
                        </h4>
                        <p class="terms-normal-text">
                            Платформата събира, обработва и съхранява личните данни при спазване на нормативните изисквания и прилага подходящи технически и организационни мерки за сигурност.
                        </p>
                        <p class="terms-normal-text">
                            С цел максимална сигурност при обработка, пренос и съхранение на лични данни, използваме където е необходимо и допълнителни механизми за защита като криптиране,
                            псевдонимизация и други.
                        </p>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Период (срок), в който съхраняваме личните ви данни
                        </h4>
                        <div>
                            <p class="terms-normal-text">
                                Вашите лични данни се съхраняват за срока, определен в действащите закони или в зависимост от целта, за която са събрани.
                            </p>
                            <p class="terms-normal-text">
                                В случаи на липса на законоустановен срок, Платформата съхранява вашите лични данни за разумен срок, определен на база допълнителни критерии. Критериите за определяне на срока са съобразени с желанието ни да ви предоставим услуги с високо качество, както и с нормалното развитие на партньорските ни взаимоотношения.
                            </p>
                            <p class="terms-normal-text">
                                Целта ни е съхраняването на личните ви данни да изискват минимални действия от ваша страна по пререгистрации или повторно предоставяне на данни.
                            </p>
                            <p class="terms-normal-text">
                                Когато личните данни, които събираме, вече не са необходими за упоменатите цели, ние ги заличаваме, анонимизираме или ги унищожаваме по друг надлежен начин.
                            </p>
                        </div>
                        <div>
                            <p class="terms-normal-text">
                                Без списъкът да е изчерпателен ето изброени сроковете, за които съхраняваме някои от данните, които обработваме:
                            </p>
                            <p class="terms-normal-text">
                                - данни, предоставени ни при абонамент за нашите издания - 5 години след изтичане на срока на последния ви абонамент;
                            </p>
                            <p class="terms-normal-text">
                                - данните, които сте попълнили в профила си - 5 години след деактивиране на профила ви, като в периода на поддържането му имате възможност сами да изтривате свои данни от него;
                            </p>
                            <p class="terms-normal-text">
                                - трафични данни - съгласно Закона за електронните съобщения трафичните данни се съхраняват за период от 6 месеца.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Вашите права
                        </h4>
                        <div>
                            <p class="terms-normal-text">
                                Имате право да поискате достъп до вашите лични данни по всяко време.
                            </p>
                            <p class="terms-normal-text">
                                Имате право да знаете какви лични данни обработваме за вас, за какво ги използваме и как ги съхраняваме.
                            </p>
                            <p class="terms-normal-text">
                                Освен посочените права, имате право да поискате:
                            </p>
                            <p class="terms-normal-text">
                                - да бъдат коригирани ваши лични данни;
                            </p>
                            <p class="terms-normal-text">
                                - да бъдат изтрити ваши лични данни;
                            </p>
                            <p class="terms-normal-text">
                                - да бъде ограничено обработването на личните Ви данни за определен период от време;
                            </p>
                            <p class="terms-normal-text">
                                - да възразите срещу обработването;
                            </p>
                            <p class="terms-normal-text">
                                - преносимост на данните.
                            </p>
                            <p class="terms-normal-text">
                                Някои от изброените права зависят от конкретната причина, поради която обработваме личните ви данни. Например в някои случаи сме задължени по закон да съхраним личните ви данни. В тези случаи няма да е възможно, например, да ги изтрием от нашите системи.
                            </p>
                        </div>
                        <div>
                            <p class="terms-normal-text">
                                Обърнете се към Длъжностното ни лице по защита на данните или към някой друг от нашите служители, в случай че имате въпроси. Те:
                            </p>
                            <p class="terms-normal-text">
                                - ще ви съдействат при упражняването на вашите права;
                            </p>
                            <p class="terms-normal-text">
                                - ще ви информират допълнително за всяко едно Ваше право.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">Особености при упражняване на някои права</h4>
                        <div>
                            <p class="terms-normal-text">
                                Особености при упражняване на някои права
                            </p>
                            <p class="terms-normal-text">
                                Също така можете сами да коригирате или изтриете такива данни чрез функционалностите, осигурени от нас във вашия профил.
                            </p>
                        </div>
                        <div>
                            <h5 class="terms-secondary-heading"><i>Подаване на искане и идентификация</i></h5>
                            <p class="terms-normal-text">
                                За да упражните някое/и от правата си, трябва да ни изпратите Искане за упражняване на вашите права по GDPR. Искането се подава лично от вас като субект на данните или от изрично упълномощено от вас лице чрез писмено пълномощно.
                            </p>
                            <p class="terms-normal-text">
                                Искането трябва да съдържа три имена, адрес и други данни за вашата идентификация като физическото лице, за чиито данни се отнася искането, описание на искането, до кои лични данни се отнася, препочитана форма за отговор и действия по Регламента, подпис, дата и адрес за кореспонденция. Искането може да бъде подадено и по електронен път по реда на Закона за електронния документ и електронните удостоверителни услуги, като бъде подписано с електронен подпис.
                            </p>
                        </div>
                        <div>
                            <p class="terms-normal-text"> Можете да свалите формата с Искане за упражняване на вашите права по GDPR <a href="https://www.economedia.bg/static/economedia/Iskane_download.docx">оттук</a>.</p>
                        </div>
                        <div>
                            <p class="terms-normal-text">
                                За да защитим, както вашите права, така и правата на други физически лица, преди да ви предоставим достъп до определени данни или да извършим действие по вашето искане, трябва да се уверим в самоличността на лицето, отправило искането. Затова можем да поискаме от вас да ни предоставите допълнителна информация за вас, да дойдете на място, да изпратите искането си, подписано с електронен подпис или да приложим други разумни мерки за безспорна идентификация, в зависимост от искането, характера на данните и контекста на тяхното обработване.
                            </p>
                        </div>
                        <div>
                            <h5 class="terms-secondary-heading"><i>Срок за отговор по искането</i></h5>
                            <p class="terms-normal-text">
                                Стремим се винаги да удовлетворим исканията ви, когато тези искания са допустими и основателни, както и да ви дадем отговор в законоустановения 1-месечен срок.
                            </p>
                            <p class="terms-normal-text">
                                В редки случаи, може да се наложи да удължим този срок, но с не повече от допустимия и максимално разрешен срок по закон, като ще ви посочим причините за това.
                            </p>
                        </div>
                        <div>
                            <h5 class="terms-secondary-heading"><i><b>Право на жалба</b></i></h5>
                            <p class="terms-normal-text">
                                В случай че сметнете, че нарушаваме вашите права, може да се свържете с нас, за да проверим въпроса. Нашето Длъжностното лице по защита на данните е на Ваше разположение на имейл .
                            </p>
                        </div>
                        <div class="container">
                            <p class="terms-normal-text">
                                Също така имате право и да подадете жалба пред Комисията за защита на личните данни:
                            </p>
                            <div class="row">
                                <div class="col">
                                    <p class="terms-column-text">
                                        Наименование
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="terms-column-text">
                                        Комисия за защита на личните данни
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="terms-column-text">
                                        Седалище и адрес на управление
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="terms-column-text">
                                        гр. София 1592, бул. "Проф. Цветан Лазаров" № 2
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="terms-column-text">
                                        Адрес за кореспонденция
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="terms-column-text">
                                        гр. София 1592, бул. "Проф. Цветан Лазаров" № 2
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="terms-column-text">
                                        Телефон
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="terms-column-text">
                                        02 915 3 518
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="terms-column-text">
                                        Интернет страница
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="terms-column-text">
                                        <a href="https://www.cpdp.bg/">www.cpdp.bg</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h4 class="terms-secondary-heading">
                            Актуализация/обновяване
                        </h4>
                        <p class="terms-normal-text">
                            Настоящата декларацията се ревизира и актуализира от нас периодично, с цел да сме максимално ясни, точни, прозрачни и да обхванем възникнали при нас промени (в случай на необходимост).
                        </p>
                        <p class="terms-normal-text">
                            Дата на последната й актуализация – февруари 2022 г.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>